<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>건물 관리인 회원가입</h4>
        </div>
    </div>
    <form th:action="@{/user/buildingManager_signup}" th:object="${buildingManagerCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="id" class="form-label">사용자 ID</label>
            <input type="text" th:field="*{id}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">사용자 이름</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="contact_number" class="form-label">연락처</label>
            <input type="text" th:field="*{contact_number}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="department" class="form-label">관리 건물명</label>
            <input type="text" th:field="*{department}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">관리 건물 주소</label>
            <input type="text" th:field="*{address}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>
