<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>주민센터 직원 회원가입</h4>
    </div>
  </div>
  <form th:action="@{/user/communityCenter_signup}" th:object="${communityCenterCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <label for="id" class="form-label">사용자 ID</label>
      <input type="text" th:field="*{id}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">비밀번호</label>
      <input type="password" th:field="*{password1}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">비밀번호 확인</label>
      <input type="password" th:field="*{password2}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">사용자 이름</label>
      <input type="text" th:field="*{name}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="contact_number" class="form-label">연락처</label>
      <input type="text" th:field="*{contact_number}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="department" class="form-label">담당 직책 및 부서</label>
      <input type="text" th:field="*{department}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="center_address" class="form-label">주민센터 주소</label>
      <input type="text" th:field="*{center_address}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>
</html>
