<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>세입자 회원가입</h4>
    </div>
  </div>
  <form th:action="@{/user/resident_signup}" th:object="${residentCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <label for="id" class="form-label">사용자 ID</label>
      <input type="text" th:field="*{id}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">비밀번호</label>
      <input type="password" th:field="*{password1}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">비밀번호 확인</label>
      <input type="password" th:field="*{password2}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">사용자 이름</label>
      <input type="text" th:field="*{name}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">주소</label>
      <input type="text" th:field="*{address}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="address_detail" class="form-label">상세주소</label>
      <input type="text" th:field="*{address_detail}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" th:field="*{email}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">성별</label>
      <input type="text" th:field="*{gender}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="contact_number_sub" class="form-label">비상연락처</label>
      <input type="text" th:field="*{contact_number_sub}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="birth" class="form-label">생년월일</label>
      <input type="text" th:field="*{birth}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="relation_household" class="form-label">세대주와의 관계</label>
      <input type="text" th:field="*{relation_household}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="contractor" class="form-label">계약자</label>
      <input type="text" th:field="*{contractor}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="master" class="form-label">입주민대표 여부</label>
      <input type="text" th:field="*{master}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="owner" class="form-label">소유주</label>
      <input type="text" th:field="*{owner}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>
</html>
